In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

data=pd.read_excel('/Emergency Admission dataset by tirage.xlsx')

In [3]:
data

      Group  Sex   Age  ...  Length of stay_min  KTAS duration_min  mistriage
0         2    2  71.0  ...                86.0           5.000000          1
1         1    1  56.0  ...                64.0           3.950000          1
2         2    1  67.5  ...               862.0           1.000000          1
3         1    2  71.0  ...               108.0           9.833333          1
4         1    2  58.0  ...               109.0           6.600000          1
...     ...  ...   ...  ...                 ...                ...        ...
1262      2    2  78.9  ...              1995.0           3.000000          0
1263      2    2  80.8  ...              1000.0           2.000000          0
1264      2    2  80.9  ...               310.0           4.000000          0
1265      2    1  81.0  ...               475.0           5.000000          0
1266      2    2  86.9  ...               887.0           2.000000          0

[1267 rows x 24 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Group                     1267 non-null   int64
 1   Sex                       1267 non-null   int64
 2   Age                       1267 non-null   float64
 3   Patients number per hour  1267 non-null   int64
 4   Arrival mode              1267 non-null   int64
 5   Injury                    1267 non-null   int64
 6   Chief_complain            1267 non-null   object
 7   Mental                    1267 non-null   int64
 8   Pain                      1267 non-null   int64
 9   NRS_pain                  711 non-null    float64
 10  SBP                       1267 non-null   object
 11  DBP                       1267 non-null   object
 12  HR                        1267 non-null   object
 13  RR                        1267 non-null   object
 14  BT                        1267 non-null   object
 15  Saturation                579 non-null    object
 16  KTAS_RN                   1267 non-null   int64
 17  Diagnosis in ED           1265 non-null   object
 18  Disposition               1267 non-null   int64
 19  KTAS_expert               1267 non-null   int64
 20  Error_group               1267 non-null   int64
 21  Length of stay_min        1267 non-null   float64
 22  KTAS duration_min         1267 non-null   float64
 23  mistriage                 1267 non-null   int64
dtypes: float64(4), int64(12), object(8)
memory usage: 237.7+ KB

In [5]:
data.describe

<bound method NDFrame.describe of       Group  Sex   Age  ...  Length of stay_min  KTAS duration_min  mistriage
0         2    2  71.0  ...                86.0           5.000000          1
1         1    1  56.0  ...                64.0           3.950000          1
2         2    1  67.5  ...               862.0           1.000000          1
3         1    2  71.0  ...               108.0           9.833333          1
4         1    2  58.0  ...               109.0           6.600000          1
...     ...  ...   ...  ...                 ...                ...        ...
1262      2    2  78.9  ...              1995.0           3.000000          0
1263      2    2  80.8  ...              1000.0           2.000000          0
1264      2    2  80.9  ...               310.0           4.000000          0
1265      2    1  81.0  ...               475.0           5.000000          0
1266      2    2  86.9  ...               887.0           2.000000          0

[1267 rows x 24 columns]>

In [6]:
data.isnull().sum()

Group                         0
Sex                           0
Age                           0
Patients number per hour      0
Arrival mode                  0
Injury                        0
Chief_complain                0
Mental                        0
Pain                          0
NRS_pain                    556
SBP                           0
DBP                           0
HR                            0
RR                            0
BT                            0
Saturation                  688
KTAS_RN                       0
Diagnosis in ED               2
Disposition                   0
KTAS_expert                   0
Error_group                   0
Length of stay_min            0
KTAS duration_min             0
mistriage                     0
dtype: int64

In [7]:
data.corr()

                             Group       Sex  ...  KTAS duration_min  mistriage
Group                     1.000000 -0.000213  ...          -0.644643   0.065939
Sex                      -0.000213  1.000000  ...           0.026658  -0.033664
Age                       0.138019 -0.046243  ...          -0.057419   0.032983
Patients number per hour -0.092626  0.032367  ...           0.189077  -0.019345
Arrival mode              0.207443 -0.042207  ...          -0.120419   0.016799
Injury                   -0.030152  0.078952  ...          -0.020731  -0.063897
Mental                   -0.046853  0.039154  ...           0.035693   0.063103
Pain                      0.047003 -0.007956  ...          -0.078081  -0.001624
NRS_pain                 -0.139919  0.036905  ...           0.092238   0.138650
KTAS_RN                  -0.150769 -0.015576  ...           0.089236   0.130169
Disposition               0.216552  0.031728  ...          -0.119238   0.035665
KTAS_expert              -0.187891  0.005684  ...           0.125785  -0.172193
Error_group               0.066480 -0.013926  ...          -0.037866   0.844152
Length of stay_min        0.146179  0.028908  ...          -0.086320  -0.000695
KTAS duration_min        -0.644643  0.026658  ...           1.000000  -0.031538
mistriage                 0.065939 -0.033664  ...          -0.031538   1.000000

[16 rows x 16 columns]